<app-ui>
  <!-- ici je met le html de ui component .html -->
  <app-header class="tr-header"></app-header>
  <app-icon-burger class="tr-open"></app-icon-burger>
  <app-icon-close class="tr-close"></app-icon-close>
  <app-icon-user class="tr-user"></app-icon-user>
  <app-icon-edit class="tr-edit"></app-icon-edit>
  <app-icon-send class="tr-send"></app-icon-send>
  <app-icon-delete class="tr-delete"></app-icon-delete>
  <app-nav class="tr-nav"></app-nav>
  <router-outlet class="tr-content"></router-outlet>
</app-ui>
