<app-template-full-width *ngIf="collection$ | async as collection" >
  <article *ngFor="let message of collection" class="d-flex flex-column">
    <a>{{ message.user }}</a>
    <p>{{ message.content }}</p>
    <small>{{ message.createdAt | date : 'short' }}</small>
    <app-icon-delete (click)="deleteMessage(message.id)"></app-icon-delete>
  </article>
</app-template-full-width>

<app-template-full-width>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset class="d-flex">
      <textarea class="form-control" placeholder="Envoyer un message" formControlName="content" (keyup.enter)="onSubmit()" required></textarea>
      <button class="send" type="submit" aria-label="Envoyer">
        <app-icon-send></app-icon-send>
      </button>
    </fieldset>
  </form>
</app-template-full-width>
