#messagesList{
  overflow: auto;
  height: 75vh;
}

article{
  padding: 2em;
  border-bottom: 1px solid var(--app-dark);
}

.redFont{
  font-weight: bold;
  color: var(--app-red);
}

span:hover{
  cursor: pointer;
}

#messageForm{
  width: 100%;
  background-color: white;
}

form{
  position: absolute;
  bottom: 1em;
  width: 80vw;
}

fieldset{
  background-color: white;
  border: 1px solid var(--app-dark);
  border-radius: 20px;
  margin: 1em;
  padding: 1em;
}

textarea{
  border:none;
}
textarea:focus{
  box-shadow: none;
}

.send{
  color: var(--app-light);
  background-color: var(--app-dark);
  border: none;
  border-radius: 10px;
  padding: 1em 0.8em;
}
.send:focus{
  color: var(--app-dark);
  background-color: var(--app-light);
  border: 1px solid var(--app-dark);
}
