<main id="authentication" class="d-flex flex-column justify-content-center align-items-center">
  <img [src]="urlImg" alt="Logo de l'application Squadra">
  <div class="jumbotron">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Identifiant*</label>
        <input type="text" class="form-control" id="username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail*</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <app-btn type="submit" label="S'inscrire"></app-btn>
    </form>
  </div>
</main>
