.d-flex{
  position:relative;
}

.nav-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  color: var(--app-light);
}

.icon-group{
  gap: 5%;
}
.icon-group:hover{
  cursor: pointer;
}

.nav-link{
  color: var(--app-light);
}

.nav-item:hover, .nav-link:active{
  color: var(--app-light);
  background-color: var(--app-red);
}
